*{margin:0;padding:0;text-decoration:none}
ul{margin: 0;padding: 0;}
body{background:#555;}
//Màu nền thanh menu
$bg-menu: #333;
//Màu thẻ li khi hover hoặc active
$color-li-h-a: #6DDB07;
//Font chữ thẻ a
$font-fam: sans-serif;
//Màu thẻ a
$color: #fff;
//Màu thẻ a khi hover hoặc active
$color-a-h-a: #fff;
//Màu thẻ li con khi hover hoặc active
$color-c-l-h-a: #363636;

/*css menu*/
.header-menu{
    position:relative;
    width:100%;
    //màu nền menu
    background:#333;
    #menu{
        border:0;
        list-style:none;
        line-height:1;
        display:block;
        position:relative;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        font-family: sans-serif;
        background: #333;
        > ul > li.has-sub > a{padding-right:25px}
        > ul > li.has-sub > a:after{
            position:absolute;
            top:18px;
            right:13px;
            width:6px;
            height:6px;
            display:block;
            background: none;
            content:'';
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotate(-45deg);
            -webkit-transition:all .25s ease;
            -ms-transition:all .25s ease;
            transition:all .25s ease;
        }
        > ul > li.has-sub:hover > a:after{
            transform: rotate(-225deg);
            top: 20px;
        }
        ul ul li.has-sub > a:after{
            position:absolute;
            top:18px;
            right:13px;
            width:6px;
            height:6px;
            display:block;
            background: none;
            content:'';
            border-right: 1px solid #fff;
            border-top: 1px solid #fff;
            transform: rotate(45deg);
            -webkit-transition:all .25s ease;
            -ms-transition:all .25s ease;
            transition:all .25s ease;
        }
        ul ul > li.has-sub:hover > a:after{
            transform: rotate(-135deg);
        }
        >ul{
            padding: 0;
            margin: 0;
            >li{
                float: left;
                &.has-sub{
                    &:hover{
                        >a:before{
                            top:23px;height:0;
                        }
                    }
                }
                &:hover,#menu ul li.active:hover,#menu ul li.active,#menu ul li.has-sub.active:hover{
                    // màu nền thẻ li khi hover hoặc active
                    background:#448D00!important;
                    -webkit-transition:background .3s ease;
                    -ms-transition:background .3s ease;
                    transition:background .3s ease;
                    >a,#menu ul li.active a{
                        //Màu chữ thẻ a khi hover hoặc active
                        color: #fff;
                    }
                }
                >a{
                    padding:17px;
                    font-size:12px;
                    letter-spacing:1px;
                    text-decoration:none;
                    color:#ddd;
                    font-weight:700;
                }
            }
        }
        ul{
            ul{
                position:absolute;
                left:-9999px;
                li{
                    height:0;
                    -webkit-transition:all .25s ease;
                    -ms-transition:all .25s ease;
                    background:#333;
                    transition:all .25s ease;
                    &:last-child > a,&.last-item > a{
                        border-bottom:0;
                    }
                    &:hover > a, a:hover{
                        color: #fff;
                    }
                    &.has-sub:hover{
                        background: #363636;
                    }
                    a{
                        border-bottom:1px solid rgba(150,150,150,0.15);
                        padding:11px 15px;
                        width:170px;
                        font-size:12px;
                        text-decoration:none;
                        color:#ddd;
                        font-weight:400;
                    }
                }
                ul{
                    margin-left:100%;top:0;
                    li.active a{
                        border-left:1px solid #333;
                    }
                }
            }
            li.has-sub ul li.has-sub ul li:hover{
                background: #363636;
            }
        }
        li:hover{
            >ul{
                left: auto;
                >li{
                    height: 35px;
                }
            }
        }
        &:after,>ul:after{
            content:".";
            display:block;
            clear:both;
            visibility:hidden;
            line-height:0;
            height:0
        }
        .logo{
            position:relative;
            z-index:123;
            padding:10px;
            font:18px verdana;
            color:#6DDB07;
            float:left;
            width:15%;
            a{
                color:#6DDB07;
            }
        }
        nav#menu{
            position:relative;
            width:980px;
            margin:0 auto;
        }
        #head-mobile{
            display: none;
        }
        > ul > li.has-sub > ul > li.active > a,> ul ul > li.has-sub > ul > li.active> a{
            border-top:1px solid #333;
        }
    }
    #menu ul,#menu ul li,#menu ul li a,#menu #head-mobile{
        border:0;
        list-style:none;
        line-height:1;
        display:block;
        position:relative;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    #menu>ul{
        display: flex;
    }
}

/*responsive*/
@media screen and (max-width: 991px){
    .header-menu{
        #menu{
            .logo{}
            width: 100%;
            ul{
                display: none;
                width: 100%;
                li{
                    width: 100%;
                    border-top: 1px solid #444;
                    &:hover{
                        background: #363636;
                    }
                }
            }
            ul ul li a, ul ul li a{
                width: 100%;
                border-bottom: 0;
            }
            ul ul li, li:hover > ul > li{
                height: auto;
            }
            >ul >li{
                float: none;
            }
            ul ul li a{padding-left: 25px;}
            ul ul li{
                background: #333 !important;
                &:hover{
                    background: #363636 !important;
                }
                a{
                    color: #ddd;
                    background: none;
                }
            }
            ul ul ul li a{padding-left: 35px;}
            ul ul li:hover > a,ul ul li.active > a{
                color: #fff;
            }
            ul ul, ul ul ul{
                position: relative;
                left: 0;
                width: 100%;
                margin: 0;
                text-align: left;
            }
            > ul > li.has-sub > a:after, > ul > li.has-sub > a:before, ul ul > li.has-sub > a:after, ul ul > li.has-sub > a:before{
                display:none
            }
            #head-mobile{
                display:block;
                padding:23px;
                color:#ddd;
                font-size:12px;
                font-weight:700
            }
            .button{
                width:55px;
                height:46px;
                position:absolute;
                right:0;
                top:0;
                cursor:pointer;
                z-index: 12399994;
            }
            .button:after{
                position:absolute;
                top:22px;
                right:20px;
                display:block;
                height:8px;
                width:20px;
                border-top:2px solid #dddddd;
                border-bottom:2px solid #dddddd;
                content:''
            }
            .button:before{
                -webkit-transition:all .3s ease;
                -ms-transition:all .3s ease;
                transition:all .3s ease;
                position:absolute;
                top:16px;
                right:20px;
                display:block;
                height:2px;
                width:20px;
                background:#ddd;
                content:'';
            }
            .button.menu-opened:after{
                -webkit-transition:all .3s ease;
                -ms-transition:all .3s ease;
                transition:all .3s ease;
                top:23px;
                border:0;
                height:2px;
                width:19px;
                background:#fff;
                -webkit-transform:rotate(45deg);
                -moz-transform:rotate(45deg);
                -ms-transform:rotate(45deg);
                -o-transform:rotate(45deg);
                transform:rotate(45deg);
            }
            .button.menu-opened:before{
                top:23px;
                background:#fff;
                width:19px;
                -webkit-transform:rotate(-45deg);
                -moz-transform:rotate(-45deg);
                -ms-transform:rotate(-45deg);
                -o-transform:rotate(-45deg);
                transform:rotate(-45deg);
            }
            .submenu-button{
                position:absolute;
                z-index:99;
                right:0;
                top:0;
                display:block;
                border-left:1px solid transparent;
                height:46px;
                width:46px;
                cursor:pointer;
            }
            .submenu-button.submenu-opened{background: transparent}
            ul ul .submenu-button{height:34px;width:34px}
            .submenu-button:after{
                position:absolute;
                top:18px;
                right:20px;
                width:6px;
                height:6px;
                display:block;
                background: none;
                content:'';
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                transform: rotate(-45deg);
                -webkit-transition:all .25s ease;
                -ms-transition:all .25s ease;
                transition:all .25s ease;
            }
            ul ul .submenu-button:after{top:14px;right:13px}
            .submenu-button.submenu-opened:after{transform: rotate(-225deg); top: 20px;}
            ul ul .submenu-button.submenu-opened:after{top: 14px;}
            ul ul ul li.active a{border-left:none}
            > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
        }
    }
}